---
title: jacoobes
images:
    - assets/orangutan.jpg
javascript:
    - ../src/date.js
    - ../src/main.js
hobbies:
    - name: Programming
      description: "<a href=#projects>Stuff I've made</a>"
    - name: Writing
      description: Written short stories, poems
    - name: Gaming
      description: "Current favorite game: <a href=https://www.sekirothegame.com/>Sekiro</a>"
hrefs:
    - Home
    - Projects
    - About
    - Contact
left-proj:
    - name: sern
      gh: "https://github.com/sern-handler/handler"
      image: "../assets/sern.png"
      desc: "A customizable, batteries-included, powerful discord.js framework to streamline bot development."
    - name: Guilt
      image: "../assets/guilt.png"
      gh: "https://github.com/jacoobes/FinalProj"
      desc: "A short adventure game made for school."
right-proj:
    - name: slowscript
      gh: "https://github.com/jacoobes/slowscript"
      image: "../assets/slowscript.svg"
      desc: "A tree-walker interpreter made with Kotlin created to learn how programming languages work"
---

<html lang="en">
<head>
    <title>{{ title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        body, h1,h2,h3,h4,h5,h6 {font-family: "Montserrat", sans-serif}
        .😶, 😶-hover-matte-gray:hover {
            color:#faedd4!important;background-color:#242321!important
        }
        .😶-button {
            color:#242321;
            background-color:#faedd4;
            text-align:center;cursor:pointer;white-space:nowrap
        }
        .😶-text-pale:hover {
            color:#faedd4!important;
        }
        .w3-row-padding img {margin-bottom: 12px}
        /* Set the width of the sidebar to 120px */
        .w3-sidebar {width: 120px;background: #171003;}
        /* Add a left margin to the "page content" that matches the width of the sidebar (120px) */
        #main {margin-left: 120px}
        /* Remove margins from "page content" on small screens */
        @media only screen and (max-width: 600px) {#main {margin-left: 0}}
    </style>
    <!--<script src="{{ javascript[0] }}"></script>-->
</head>
<body class="😶">
<!-- Icon Bar (Sidebar - hidden on small screens) -->
<nav class="w3-sidebar w3-bar-block w3-small w3-hide-small w3-center">
    <!-- Avatar image in top left corner -->
    <img src="{{ images[0] }}" style="width:100%" alt="profile">
    <a href="#" class="w3-bar-item w3-button w3-padding-large w3-hover-dark-gray">
        <i class="fa fa-home w3-xxlarge"></i>
        <p>{{ hrefs[0] | upcase }}</p>
    </a>
    <a href="#{{ hrefs[2] | downcase }}" class="w3-bar-item w3-button w3-padding-large w3-hover-dark-gray">
        <i class="fa fa-user w3-xxlarge"></i>
        <p>{{ hrefs[2] | upcase }}</p>
    </a>
    <a href="#{{ hrefs[1] | downcase }}" class="w3-bar-item w3-button w3-padding-large w3-hover-dark-gray">
        <i class="fa fa-eye w3-xxlarge"></i>
        <p>{{ hrefs[1] | upcase }}</p>
    </a>
    <a href="#{{ hrefs[3] | downcase }}" class="w3-bar-item w3-button w3-padding-large w3-hover-dark-gray">
        <i class="fa fa-envelope w3-xxlarge"></i>
        <p>{{ hrefs[3] | upcase }}</p>
    </a>
</nav>

<!-- Navbar on small screens (Hidden on medium and large screens) -->
<div class="w3-top w3-hide-large w3-hide-medium" id="myNavbar">
    <div class="w3-bar w3-opacity w3-hover-opacity-off w3-center w3-small">
        <a href="#" class="w3-bar-item w3-button" style="width:25% !important">{{ hrefs[0] | upcase }}</a>
        <a href="#{{ hrefs[2] | downcase }}" class="w3-bar-item w3-button" style="width:25% !important">{{ hrefs[2] | upcase }}</a>
        <a href="#{{ hrefs[1] | downcase }}" class="w3-bar-item w3-button" style="width:25% !important">{{ hrefs[1] | upcase }}</a>
        <a href="#{{ hrefs[3] | downcase }}" class="w3-bar-item w3-button" style="width:25% !important">{{ hrefs[3] | upcase }}</a>
    </div>
</div>

<!-- Page Content -->
<div class="w3-padding-large" id="main">
    <!-- Header/Home -->
    <header class="w3-container w3-padding-32 w3-center 😶" id="home">
        <h1 class="w3-jumbo"><span class="w3-hide-small">Hi, I'm</span> {{ title }}</h1>
        <img src= "{{ images[0] }}" class="w3-image" width="992" height="1108" alt="boy">
    </header>

    <!-- About Section -->
    <div class="w3-content w3-justify 😶-text-pale w3-padding-64" id="about">
        <h2 class="😶-text-pale">{{ hrefs[2] | append: " me" }}</h2>
        <hr style="width:200px" class="w3-opacity">
        <p class="paragraph-me"> I'm a college student focusing in computer science major, hobbyist programmer.
            <br>
            Currently into making libraries, frameworks, and learning systems programming.
        </p>
        <h2 class="w3-padding-16  w3-justify 😶-text-pale" id="hobbies">Hobbies</h2>
        <hr style="width:200px" class="w3-opacity">
           {% for hobby in hobbies %}
                <p class="😶-text-pale">{{ hobby.name }}</p>
                <ul>
                 <li class = "😶-text-pale">{{ hobby.description }}</li>
                </ul>
           {% endfor %}


     <!--   <div class="w3-row w3-center w3-padding-16 w3-section w3-light-grey">
            <div class="w3-quarter w3-section">
                <span class="w3-xlarge">11+</span><br>
                Partners
            </div>
            <div class="w3-quarter w3-section">
                <span class="w3-xlarge">55+</span><br>
                Projects Done
            </div>
            <div class="w3-quarter w3-section">
                <span class="w3-xlarge">89+</span><br>
                Happy Clients
            </div>
            <div class="w3-quarter w3-section">
                <span class="w3-xlarge">150+</span><br>
                Meetings
            </div>
        </div>
    -->

        <!-- Grid for pricing tables -->
        {% comment %}<h3 class="w3-padding-16 w3-text-light-grey">My Price</h3>{% endcomment %}
        <div class="w3-row-padding" style="margin:0 -16px">
            {% comment %}<div class="w3-half w3-margin-bottom">{% endcomment %}
                {% comment %}<ul class="w3-ul w3-white w3-center w3-opacity w3-hover-opacity-off">{% endcomment %}
                    {% comment %}<li class="w3-dark-grey w3-xlarge w3-padding-32">Basic</li>{% endcomment %}
                    {% comment %}<li class="w3-padding-16">Web Design</li>{% endcomment %}
                    {% comment %}<li class="w3-padding-16">Photography</li>{% endcomment %}
                    {% comment %}<li class="w3-padding-16">5GB Storage</li>{% endcomment %}
                    {% comment %}<li class="w3-padding-16">Mail Support</li>{% endcomment %}
                    {% comment %}<li class="w3-padding-16">{% endcomment %}
                        {% comment %}<h2>$ 10</h2>{% endcomment %}
                        {% comment %}<span class="w3-opacity">per month</span>{% endcomment %}
                    {% comment %}</li>{% endcomment %}
                    {% comment %}<li class="w3-light-grey w3-padding-24">{% endcomment %}
                        {% comment %}<button class="w3-button w3-white w3-padding-large w3-hover-black">Sign Up</button>{% endcomment %}
                    {% comment %}</li>{% endcomment %}
                {% comment %}</ul>{% endcomment %}
            {% comment %}</div>{% endcomment %}

            {% comment %}<div class="w3-half">{% endcomment %}
                {% comment %}<ul class="w3-ul w3-white w3-center w3-opacity w3-hover-opacity-off">{% endcomment %}
                    {% comment %}<li class="w3-dark-grey w3-xlarge w3-padding-32">Pro</li>{% endcomment %}
                    {% comment %}<li class="w3-padding-16">Web Design</li>{% endcomment %}
                    {% comment %}<li class="w3-padding-16">Photography</li>{% endcomment %}
                    {% comment %}<li class="w3-padding-16">50GB Storage</li>{% endcomment %}
                    {% comment %}<li class="w3-padding-16">Endless Support</li>{% endcomment %}
                    {% comment %}<li class="w3-padding-16">{% endcomment %}
                        {% comment %}<h2>$ 25</h2>{% endcomment %}
                        {% comment %}<span class="w3-opacity">per month</span>{% endcomment %}
                    {% comment %}</li>{% endcomment %}
                    {% comment %}<li class="w3-light-grey w3-padding-24">{% endcomment %}
                        {% comment %}<button class="w3-button w3-white w3-padding-large w3-hover-black">Sign Up</button>{% endcomment %}
                    {% comment %}</li>{% endcomment %}
                {% comment %}</ul>{% endcomment %}
            {% comment %}</div>{% endcomment %}
            <!-- End Grid/Pricing tables -->
        </div>

        <!-- Testimonials -->
       <!-- <h3 class="w3-padding-24 w3-text-light-grey">My Reputation</h3>
        <img src="/w3images/bandmember.jpg" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:80px">
        <p><span class="w3-large w3-margin-right">Chris Fox.</span> CEO at Mighty Schools.</p>
        <p>John Doe saved us from a web disaster.</p><br>

        <img src="/w3images/avatar_g2.jpg" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:80px">
        <p><span class="w3-large w3-margin-right">Rebecca Flex.</span> CEO at Company.</p>
        <p>No one is better than John Doe.</p>
        -->
        <!-- End About Section -->
    </div>

    <!-- Portfolio Section -->
    <div class="w3-padding-top-32 w3-content" id="projects">
        <h2 class="😶-text-pale">My {{ hrefs[1] }}</h2>
        <hr style="width:200px" class="w3-opacity">

        <!-- Grid for photos -->
        <div class="w3-row-padding" style="margin:0 -16px">
            <div class="w3-half">
                {% for proj in left-proj %}
                    <div class="w3-container">
                       <figure>
                           <a href="{{ proj.gh }}">
                               <img src="{{ proj.image }}" style="width:100%" alt="{{ proj.name }}">
                           </a>
                           <figcaption>{{ proj.desc }}</figcaption>
                       </figure>
                    </div>
                {% endfor %}
            </div>

            <div class="w3-half">
                {% for proj in right-proj %}
                    <figure>
                        <a href="{{ proj.gh }}">
                            <img src="{{ proj.image }}" style="width:100%" alt="{{ proj.name }}">
                        </a>
                        <figcaption>{{ proj.desc }}</figcaption>
                    </figure>
                {% endfor %}
            </div>
            <!-- End photo grid -->
        </div>

        <!-- End Portfolio Section -->
    </div>
    <div class="w3-padding-64 w3-content">
        <h3 class="😶-text-pale">
            Other projects...
        </h3>
        <hr style="width:200px" class="w3-opacity">
        <a href="https://github.com/jacoobes">
            <button class="w3-button 😶-button 😶-text-pale w3-padding-large w3-border-0" type="submit">
                <i class="fa fa-github"></i> View here
            </button>
        </a>

    </div>

    <!-- Contact Section -->
    <div class="w3-padding-64 w3-content 😶-text-pale" id="contact">
        <h2 class="😶-text-pale">{{ hrefs[3] | append: " me" }}</h2>
        <hr style="width:200px" class="w3-opacity">

        <div class="w3-section">
            <p><i class="fa fa-envelope fa-fw 😶-text-pale w3-large w3-margin-right"> </i> Email: jacobnguyend@gmail.com</p>
        </div><br>
        <p>Let's get in touch. Send me a message:</p>

        <form action="{{ javascript[0] }}" target="_blank">
            <p><input class="w3-input w3-padding-16" type="text" placeholder="Name" required name="Name" style="background-color: #faedd4"></p>
            <p><input class="w3-input w3-padding-16" type="text" placeholder="Email" required name="Email" style="background-color: #faedd4"></p>
            <p><input class="w3-input w3-padding-16" type="text" placeholder="Subject" required name="Subject" style="background-color: #faedd4"></p>
            <p><input class="w3-input w3-padding-16" type="text" placeholder="Message" required name="Message" style="background-color: #faedd4"></p>
            <p>
                <button class="w3-button 😶-button 😶-text-pale w3-padding-large w3-border-0" type="submit">
                    <i class="fa fa-paper-plane"></i> SEND MESSAGE
                </button>
            </p>
        </form>
        <!-- End Contact Section -->
    </div>

    <!-- Footer -->
    <footer class="w3-content w3-padding-64 😶-text-pale w3-xlarge">
        <i class="fa fa-github w3-hover-opacity"></i>
        <p class="w3-medium">Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank" class="w3-hover-text-green">w3.css</a></p>
        <!-- End footer -->
    </footer>

    <!-- END PAGE CONTENT -->
</div>
{% for script in javascript %}
    <script src="{{ script }}"></script>
{% endfor %}
</body>
